/* =========================================
   1. Original Provided Styles & Base
   ========================================= */
body, header, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', "Times New Roman", serif;
}

header h1, header h2 {
    color: white;
}

header h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 5px;
}

header h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

header span {
    text-align: center;
    font-size: 24px;
    width: 60px;       
    padding: 5px 10px; 
    border: solid 1px white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header span a:link, header span a:visited {
    color: white;
    text-decoration: underline; 
}

/* =========================================
   2. Header & Banner
   ========================================= */

header {
    position: relative; 
    width: 100%;
    overflow: hidden; 
}

img.banner {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%) brightness(40%);
}

.banner--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; 
    z-index: 10;
}

/* =========================================
   3. Highlights Section
   ========================================= */

article {
    width: 870px; 
    margin: 0 auto;
    padding-top: 20px;
}

.highlights {
    overflow: hidden; 
    margin-bottom: 20px;
}

.highlights h2 {
    margin-bottom: 15px;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid black; 
    padding-bottom: 5px;
}

.highlights--container {
    float: left;
    width: 415px; 
    margin-right: 40px; 
    margin-bottom: 20px;
}

.highlights--container:last-child {
    margin-right: 0;
}

.highlights--media {
    float: left;
    width: 190px;
    margin-right: 15px;
}

.highlights--media img {
    width: 100%;
    height: auto;
    display: block;
}

.highlights--text {
    float: left;
    width: 210px; 
}

.highlights--text h4 {
    margin: 0; 
    padding: 0;
    font-size: 15px; 
    font-weight: bold;
    line-height: 1.1; 
}

.highlights--text p {
    margin: 0; 
    padding: 0;
    font-size: 13px;
    line-height: 1.3;
}

.highlights--button {
    float: right;
    background-color: #FFA500; 
    color: white;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 11px;
    margin-top: 0px; 
}

.highlights--button:hover {
    background-color: #e69500;
}

/* =========================================
   4. Mosaic Section (Final Adjusted Grid)
   ========================================= */

.mosaic {
    position: relative; 
    width: 870px; 
    height: 1200px; 
    margin: 0 auto 50px auto;
}

.mosaic-item {
    position: absolute;
    overflow: hidden;
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
    object-position: top center;
}

/* --- Row 1 (Y=0) --- */
.mosaic--a { width: 430px; height: 390px; top: 0; left: 0; }
.mosaic--b { width: 210px; height: 190px; top: 0; left: 440px; }
.mosaic--c { width: 210px; height: 190px; top: 200px; left: 440px; }
.mosaic--d { width: 210px; height: 390px; top: 0; left: 660px; }


/* --- Row 2 (Y=400) --- */

/* 左邊長圖 (不變) */
.mosaic--e { width: 210px; height: 390px; top: 400px; left: 0; }

/* [修改] 中間兩張 (f, g) 切一半 (Height 190px) */
.mosaic--f { width: 210px; height: 190px; top: 400px; left: 220px; }
.mosaic--g { width: 210px; height: 190px; top: 400px; left: 440px; }

/* 右邊長圖 (不變) */
.mosaic--h { width: 210px; height: 390px; top: 400px; left: 660px; }


/* --- Row 3 (Y=600 ~ 800) --- */

/* [修改] 夫婦合照 (j) -> 放在 Row 2 的小圖下面，變成大圖 (390px 高) */
/* Y位置 = 400(Row2起點) + 190(小圖高) + 10(間隔) = 600px */
.mosaic--j { 
    width: 430px; 
    height: 390px; /* 大圖 */
    top: 600px; 
    left: 220px; 
}

/* 左右下角的小圖 (i, k) */
/* Y位置 = 400(Row2起點) + 390(長圖高) + 10(間隔) = 800px */
/* 注意：這樣會讓 j 的底部 (600+390=990) 和 i/k 的底部 (800+190=990) 完美對齊！ */
.mosaic--i { width: 210px; height: 190px; top: 800px; left: 0; display: block; }
.mosaic--k { width: 210px; height: 190px; top: 800px; left: 660px; display: block; }