@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lobster);


h1, h2, h3, nav, footer {
 font-family: Lobster, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Open Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
   background-color: #E8EAF6;
}

/* header and navigation */
header, footer {
  color: white;
  background-color: #1A237E;
  margin: 0em 4em 0.25em 4em;
}
header h1 { 
  padding: 0.5rem 0 0 1.25rem;
  font-size: 2rem;
  font-weight: bold;
}
header p { 
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0 0 0 1.25rem;
}

main {
   background-color: white;
   margin: 1em 4em 1em 4em;
   padding: 1em;
}

section {
   margin-bottom: 1em;
   padding: 0;
   width: 100%;
}

legend { 
  font-size: 1.35rem;
  background-color: #7986CB;
  height: 1.70rem;
  color: #E8EAF6;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  text-indent: 10px;
}

fieldset {
   margin: 0;
   padding: 0; 
   background-color: #C5CAE9;
   width: 100%;
   border: none;
   padding-bottom: 15px;
}

form p {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}


label {
    display: block;
    font-weight: 600;
}


fieldset > p {
    padding-left: 20px; 
    padding-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    width: 50%;
    padding-left: 20px; 
    padding-right: 20px;
    padding-bottom: 15px;
}


input[name="title"], 
textarea {
    width: 98%; 
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

select,
input[name="city"] {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="date"],
input[type="time"] {
    width: 170px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="color"] {
    width: 50px;
    height: 35px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #999;
    cursor: pointer;
}

.box-group {
    border: 1px solid #9FA8DA;
    padding: 5px 10px; 
    margin-bottom: 10px;
}

.box-group h2 {
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: bold;
}

.box-group p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.license-bar {
    background-color: #9FA8DA;
    padding: 10px;
    margin: 15px 20px; 
    box-sizing: border-box;
}

.license-bar label {
    display: inline;
    margin-right: 10px;
}

.rounded {
    background-color: #E91E63; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.rounded:hover {
    background-color: #C2185B;
}